<div *ngIf="!numFacture; else forminfo">

  <form class="form-horizontal" [formGroup]="form" (ngSubmit)="addPost(form.value)">
    <fieldset>
      <legend>Nouvelle facture:</legend>
      <div class="form-group">
        <label class="col-lg-2 control-label">N° facture</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" placeholder="N° facture" formControlName="numFacture">
        </div>
      </div>
      <div class="alert" *ngIf="!form.controls['numFacture'].valid && form.controls['numFacture'].touched">Ce champ est obligatoire </div>


      <div class="form-group">
        <label class="col-lg-2 control-label">Date facture</label>
        <div class="col-lg-10">
          <input type="text" type="date" class="form-control" placeholder="Date facture" formControlName="dateFacture">
        </div>
      </div>
      <div class="alert" *ngIf="!form.controls['dateFacture'].valid && form.controls['dateFacture'].touched">Ce champ est obligatoire </div>


      <div class="form-group">
        <label class="col-lg-2 control-label">Client</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" placeholder="Client" formControlName="client">
        </div>
      </div>
      <div class="alert" *ngIf="!form.controls['client'].valid && form.controls['client'].touched">Ce champ doit contenir au moins 3 caractères </div>


      <div class="form-group">
        <label class="col-lg-2 control-label">Désignation</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" placeholder="Désignation" formControlName="designation">
        </div>
      </div>
      <div class="alert" *ngIf="!form.controls['designation'].valid && form.controls['designation'].touched">Ce champ est obligatoire </div>


      <div class="form-group">
        <label class="col-lg-2 control-label">Quantité</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" placeholder="Quantité" formControlName="quantite">
        </div>
      </div>
      <div class="alert" *ngIf="!form.controls['quantite'].valid && form.controls['quantite'].touched">Ce champ est obligatoire </div>


      <div class="form-group">
        <label class="col-lg-2 control-label">Prix unitaire HT</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" placeholder="Prix HT" formControlName="prixunitHT">
        </div>
      </div>
      <div class="alert" *ngIf="!form.controls['prixunitHT'].valid && form.controls['prixunitHT'].touched">Ce champ est obligatoire </div>



      <div class="form-group">
        <label class="col-lg-2 control-label">TVA % </label>
        <div class="col-lg-10">
          <input type="text" class="form-control" placeholder="TVA %" formControlName="tva">
        </div>
      </div>
      <div class="alert" *ngIf="!form.controls['tva'].valid && form.controls['tva'].touched">Ce champ est obligatoire </div>



      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Ignorer</button>
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Enregistrer</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>


<ng-template #forminfo>
  <div class="jumbotron">
    <h3>Facture N°: {{numFacture}}</h3>
    <label class="marge">Date facture:  </label> {{dateFacture}}<br>

    <label class="marge">Client:  </label> {{client}}<br>

    <label class="marge">Désignation:  </label> {{designation}}<br>

    <label class="marge">Quantité:  </label> {{quantite}}<br>

    <label class="marge">Prix unitaire HT:  </label> {{prixunitHT}}<br>

    <label class="marge">TVA %:  </label> {{tva}}<br>

    <label class="marge">Total HT:  </label> {{totalHT}}<br>

    <label class="marge">Montant du TVA:  </label> {{montantTVA}}<br>

    <label class="marge">Total TTC:  </label> {{totalTTC}}<br>

    <p class=pull-right><button class="btn btn-primary"  >Editer</button></p>
      

  </div>
</ng-template>